@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
    font-family: "Open Sans";
}
.fullscreenDiv {
    background-color: #e8e8e8;
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}
.wuc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
img.gears{
    height: 100px;
    width: 100px;
}
.foo {
    font-size: 80%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -150%);
    text-align: center;
}